body {
  font-size: 16px;
  color: black;
  font-family: sans-serif;
}

#header-nav {
  background-color: gray;
  border: 0;
  border-radius: 0;
}

#brand {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

#navbar-header{
  border: solid black 2px;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 4px;
  margin-left: 4px;
}

@media (min-width: 768px){
  .navbar-toggle {
    display: none;
  }
}

.navbar-toggle{
  border: solid black 1.5px;
}

.navbar-toggle .icon-bar{
  width: 40px;
  height: 3px;
}


#nav-list a {
  color: black;
  text-align: center;
}

#nav-list a:hover {
  background-color: black;
  color: white;
}

#our-menu{
  text-align: center;
  font-weight: bold;
  font-size: 2.4em;
}

#chicken-header{
  text-align:center;
  font-size: 1.8em;

}

#tile-info{
  background-color: gray;
  padding: 10px;
  border-radius: 4px;
  border: solid black 2px;
  border-radius: 3px;
}
